lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
*.sublime-workspace
.DS_Store
Thumbs.db

/node_modules/
/.vagrant/
/provisioning/tmp/
/provisioning/cookbooks/
/provisioning/GITHUB_API_KEY.dat
