# 0.11-dev from tracking master: https://github.com/mitsuhiko/flask/tarball/master
-e git://github.com/mitsuhiko/flask.git@b7dfa6c363aec171bdca04ce0f49ac5f2a0ac35c#egg=Flaskdev
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
itsdangerous==0.24
wsgiref==0.1.2
PyGithub==1.25.2
psycopg2==2.5.4
gunicorn==19.1.1
requests==2.5.0
pq==1.2