<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <h1><%= title %></h1>
            </div>
        </div>
        <div class="row-fluid">
            <div id="themes" class="span12">
                <pre>
<%= inspect(themes) %>
                </pre>
            </div>
        </div>
    </div>
</body>
</html>
